@font-face {
    font-family: "FredokaOne";
    src: url("../Assets/FredokaOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Smooth Transition between HTML pages */
html{
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body{
    margin: 0;
    padding: 0;
    transition: opacity 0.35s ease;
}

body.page-ready {
    opacity: 1;
}

body.page-exit {
    opacity: 0;
}

/*===========================================================*/
            /*  This is the header section */
/*===========================================================*/
.roof{
    max-height: 188px;
}
.plain-roof {
    min-height: 40px;
    background-color: #523273;
}
.storeRoof{
    flex: 1;
    min-height: 100px;
    display: flex;
    height: 100%;
    background: url("/Assets/storeRoof.svg") repeat-x center/auto 100%;
}
.navSec {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.navSec {
    font-family: "FredokaOne", sans-serif;
}

.page {
    border: 0px;
    border-radius: 15px;
    text-align: center;
    width: 5%;
    padding: 5px;
}

.page a {
    display: block;
    text-decoration: none;
    color: #523273;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.page:hover{
    transform: scale(1.2)
}

.link:hover {
    color: #A39AF3;
}

/*===========================================================*/
                    /*  CSS for Index.html */
    /* This is the home landing page */
/*===========================================================*/
.info-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    align-items: center;
    font-family: "FredokaOne", sans-serif;
    color:#523273;
}

.fusion-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height:457px;

    transform: translateY(20px);
    transition: transform 3s ease;

    margin-bottom: 5%;
}

.fusion-description.show {
    transform: translate(20px);
}

.description {
    width: 50%;
    position: relative;
    left: 150px;
}

.logo img {
    width: 50%;
    height: auto;
}

.tale{
    width: 50%;
    margin-left: 50px;
}
.berry-poster {
    width: 50%;
}
.berry-poster img{
    width: 65%;
    height: auto;
    position: relative;
    top: -40px;
}

.posters {
    display: flex;
    width: 1360px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 613.83px;
    margin-bottom: 5%;
    border-bottom: 2px solid #49326B;
    border-top: 2px solid #49326B;
    transform: translateY(10px);
    transition: transform 3s ease;
}

.posters.show {
    transform: translate(10px);
}

.poster-img {
    width: 30%;
}
.poster-img img {
    width: 89%;
}

.label-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-bottom: 5%;
}
.label-poster img{
    width: 85%;
}

/*===========================================================*/
                    /*  CSS for about.html */
/*===========================================================*/

.about-me {
    margin-top: 20px;
    width: 100%;
    font-family: "FredokaOne", sans-serif;
    color: #523273;
}

.arrange {
    display: flex;
    flex-direction: row;
}

.visual {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visual img {
    width: 50%;
}

.visual-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.essay {
    width: 60%;
}

.visual p, .visual-description p{
    font-size: 20px;
}

.me p, .essay p{
    font-size: 15px;
    margin: 5;
}

/* Media Querries for Responsive layout */

@media(max-width: 1024px){
    .header{
        display: flex;
        flex-direction: column;
    }

    .navSec{
        width: 100%;
        gap: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page {
        background-color: #523273;
        border: 0px;
        border-radius: 15px;
        text-align: center;
        width: 40%;
        padding: 5px;
    }
    .info-body{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .fusion-description{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 5px;
        margin: 0;
        padding: 0;
    }
    .tale p{
        font-size:20px;
    }
    .description{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left: 0px;
    }
    .logo img {
        width: 300%;
        position: relative;
        right: 150px;
    }
    .berry-poster img{
        width: 100%;
        height: auto;
        position: relative;
        left: 45px;
        margin: 0;
    }
    .posters {
        gap: 10px;
        width: 100%;
        margin-bottom: 70%;
    }
    .poster-img {
        width: 40%;
        cursor: pointer;
    }
    .poster-img img {
        width: 100%;
    }

    .contact-info{
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        width: 90%;
    }
    
    .contact-info p, .contact-info h3{
        font-size: 15px;
    }

    .arrange{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
    }
}

@media(max-width: 764px){
    .header{
        display: flex;
        flex-direction: column;
    }

    .navSec{
        width: 100%;
        gap: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page {
        background-color: #523273;
        border: 0px;
        border-radius: 15px;
        text-align: center;
        width: 45%;
        padding: 5px;
    }
    .fusion-description{
        display: flex;
        flex-wrap: wrap;
        width: 150%;
        gap: 5px;
        margin: 0;
        padding: 0;
    }
    .description{
        width: 100%;
        position: relative;
        left: 0px;
    }
    .berry-poster img{
        width: 100%;
        height: auto;
        position: relative;
        left: 45px;
        margin: 0;
    }
    .posters {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .poster-img {
        width: 40%;
        cursor: pointer;
    }
    .poster-img img {
        width: 100%;
    }

    .contact-info{
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        width: 90%;
    }
    
    .contact-info p, .contact-info h3{
        font-size: 15px;
    }

    .arrange{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
    }
}

/*===========================================================*/
            /*  This is the footer section */
/*===========================================================*/

.footer {
    margin-top: 10px;;
    color: white;
    background-color: #661E59;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "FredokaOne", sans-serif;
}

.contacts {
    width: 40%;
}

.contact-info{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.contact-info a {
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.brand {
    display: flex;
    flex-direction: column;
    width: 35%;

}

.copyright {
    background-color: #2D2C2C;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts .tab {
    text-indent: 2em;
    font-style: italic;
    border-left: 5px solid #ff7e5f;
}

.soc-med {
    display: flex;
    gap: 5%;
    justify-content: flex-start;
}

.brand-logo img {
    width: 50%;
    height: auto;
}

.about-us a{
    color:pink;
    border-left: 5px solid #ff7e5f;
    padding: 5px;
}
